.mensajes{
    .texto-mensajes{
        .texto{
            h3{
                font-size: 1.2rem;
            }
            .texto-mensaje{
                font-size: 0.8rem;
                
            }
            .hola{
                margin-top: -2.1rem;
                font-size: 0.8rem;
            }
        }
    }
    
}